.peacock-blue, .hover-peacock-blue:hover {
    color: #000 !important;
    background-color: #00aeef !important
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #00aeef;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #00aeef;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

select {
    text-align: center;
}