table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #aaaaaa;
}

tr:nth-child(even) {
    background-color: #adcadd;
}