{% extends "base.html" %}

{% block page_title %}Authorize registration{% endblock %}

{% block body_onload %}{% if success or error %} onload="showMessage()" {% endif %}{% endblock %}

{% block page_content %}
    <form method="post">
        <label class="w3-padding" for="username">Select User to authorize</label>
        <select id="username" name="username"
                class="w3-select w3-round-xxlarge w3-border border-peacock-blue hover-peacock-blue">
            {% for username in usernames %}
                <option value="{{ username[0] }}">{{ username[0] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div class="w3-center">
            <input type="submit" value="Authorize" class="w3-btn w3-round-xxlarge peacock-blue">
        </div>
    </form>
{% endblock %}



{% block msg_header_class %}
    {% if success %} class="w3-container w3-green w3-center" {% else %} class="w3-container w3-red w3-center"
    {% endif %}
{% endblock %}
{% block msg_title %}
    {% if error %}Error{% elif success %}Success{% endif %}
{% endblock %}
{% block msg_content %}
    {% if error %}{{ error }}{% elif success %}{{ success }}{% endif %}
{% endblock %}