{% extends "base.html" %}

{% block body_onload %}{% if error %} onload="showMessage()" {% endif %}{% endblock %}

{% block page_title %} Register {% endblock %}

{% block nav_bar %}
    <button class="w3-bar-item w3-button w3-col l2" onclick="location.href = '/';"><b>Home</b>
    </button>
    <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/register';">
        <b>Register</b>
    </button>
    {% if current_user.is_authorized %}
        <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/logout';">
            <b>Logout</b>
        </button>
    {% else %}
        <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/login';">
            <b>Login</b>
        </button>
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if role %}

        <form name="registerUser" method="post">

            {% if role == 'engineer' %}
                <label for="name" style="padding-left: 5%">
                    <b>Name : </b>
                </label>
                <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" type="text"
                       id="name" name="name" {% if name %} value="{{ name }}" {% endif %}
                       style="width: 100%; padding-left: 5%; padding-right: 5%" required autofocus>
                <br><br>
                <label for="number" style="padding-left: 5%">
                    <b>Contact Number : </b>
                </label>
                <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" type="text"
                       id="number" name="contact"
                       minlength="10" maxlength="10" {% if contact %} value="{{ contact }}" {% endif %}
                       style="width: 100%; padding-left: 5%; padding-right: 5%" onfocusout="phoneValidate('number')"
                       required>
                <br><br>
                <label for="email" style="padding-left: 5%">
                    <b>Email ID : </b>
                </label>
                <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" type="text"
                       id="email" name="email"
                        {% if email %} value={{ email }} {% endif %} onfocusout="emailValidate('email')"
                       style="width: 100%; padding-left: 5%; padding-right: 5%" required>
                <br><br>
                <label for="region" style="padding-left: 5%">
                    <b>Region : </b>
                </label>
                <select class="w3-select w3-round-xxlarge w3-border border-peacock-blue" id="region" name="region"
                        style="width: 100%" required>
                    <option value="nr">North Region</option>
                    <option value="er">East Region</option>
                    <option value="wr">West Region</option>
                    <option value="sr">South Region</option>
                </select><br><br>
                <label for="address" style="padding-left: 5%">
                    <b>Address : </b>
                </label>
                <textarea class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue"
                          id="address"
                          name="address" {% if
              address %} value={{ address }} {% endif %} rows="5"
                          style="width: 100%; padding-left: 5%; padding-right: 5%" required></textarea>
                <br><br>
            {% endif %}

            {% if role == 'reg_mgr' %}
                <label for="id" style="padding-left: 5%">
                    <b>Region ID : </b>
                </label>
                <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" type="text"
                       id="id" name="id"
                       maxlength="2" {% if id %} value="{{ id }}" {% endif %}
                       style="width: 100%; padding-left: 5%; padding-right: 5%" required>
                <br><br>
                <label for="addr" style="padding-left: 5%">
                    <b>Address : </b>
                </label>
                <textarea class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" id="addr"
                          name="address" {% if
              address %} value={{ address }} {% endif %} rows="5"
                          style="width: 100%; padding-left: 5%; padding-right: 5%" required></textarea>
                <br><br>
            {% endif %}

            <label for="username" style="padding-left: 5%">
                <b>Username : </b>
            </label>
            <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" type="text"
                   id="username" name="username" maxlength="10" {% if username %} value="{{ username }}" {% endif %}
                   style="width: 100%; padding-left: 5%; padding-right: 5%" required><br><br>
            <label for="password" style="padding-left: 5%">
                <b>Password : </b>
            </label>
            <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue"
                   type="password"
                   id="password"
                   name="password" style="width: 100%; padding-left: 5%; padding-right: 5%" required>
            <br><br>
            <label for="conf-password" style="padding-left: 5%">
                <b>Confirm Password : </b>
            </label>
            <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue"
                   type="password"
                   id="conf-password"
                   name="confirm password" style="width: 100%; padding-left: 5%; padding-right: 5%" required>
            <br>
            <br>
            <div class="w3-center">
                <input type="submit" value="Register" class="w3-btn w3-round-xxlarge peacock-blue center"
                       style="width: 130px">
                <br>
            </div>
            <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" name="role"
                   value="{{ role }}" style="visibility: hidden">
        </form>

    {% else %}

        <form name="registerForm" method="get">
            <label for="role">
                <b>Select role of user : </b>
            </label>
            <select class="w3-select w3-round-xxlarge w3-border border-peacock-blue hover-peacock-blue" id="role"
                    name="role">
                <option value="engineer">Engineer</option>
                <option value="call_center">Call Center Operative</option>
                <option value="bel_mgr">BEL Manager</option>
                <option value="reg_mgr">Regional Center Manager</option>
            </select>
            <br><br>
            <div class="w3-center">
                <input type="submit" value="Get Registration Form" class="w3-btn w3-round-xxlarge peacock-blue center">
            </div>
        </form>

    {% endif %}
{% endblock %}

{% block msg_title %}Error{% endblock %}
{% block msg_content %}{% if error %}{{ error }}{% endif %}{% endblock %}