<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">
    <script src="{{ url_for(endpoint='static', filename='js/main.js') }}"></script>

    {% if Address %}
    <script type="application/javascript">
        function showMessage() {
            document.getElementById('address').innerHTML = '{{Address}}'
            document.getElementById('message-display').style.display = 'block'
        }
    </script>
    {% endif %}

    <link rel="icon" href="{{ url_for(endpoint='static', filename='images/bel-icon.png') }}">
    <title>CRM</title>
</head>

<body {% if success or error %} onload="showMessage()" {% endif %}>
<div class="w3-container w3-padding w3-hide-small w3-hide-medium">
    <span><img src="{{ url_for(endpoint='static', filename='images/bel.png') }}"></span>
    <span class="w3-display-topmiddle" style="margin-top: 4%; font-size: xx-large; font-style: oblique">
        <b>Add Customer</b></span>
</div>

<div class="w3-bar peacock-blue w3-row">
    <button class="w3-bar-item w3-button w3-col l2" onclick="location.href = '/';" message-><b>Home</b>
    </button>

    <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/register';" message->
        <b>Register</b>
    </button>
    <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/logout';" message-><b>Logout</b>
    </button>
</div>

<br><br>

<div class="w3-container">

    <form name="addMachine" method="post" action="/add-customer/submit">
        <div class="w3-row">
            <div class="w3-col l3 w3-hide-small" style="padding-left: 25%"><p></p></div>
            <div class="w3-col l6">
                <label for="id" style="padding-left: 5%">
                    <b>ID : </b>
                </label>
                <input class="w3-input w3-round-xxlarge w3-border border-peacock-blue hover-peacock-blue" type="number"
                       id="id" name="ID" {% if ID %} value={{ID}} {% endif %}}
                       style="padding-left: 5%; padding-right: 5%" required>
                <br>
                <label for="name" style="padding-left: 5%">
                    <b>Name : </b>
                </label>
                <input class="w3-input w3-round-xxlarge w3-border border-peacock-blue hover-peacock-blue" type="text"
                       id="name" name="Name" {% if Name %} value={{Name}} {% endif %}}
                       style="padding-left: 5%; padding-right: 5%" required>
                <br>
                <label for="email" style="padding-left: 5%">
                    <b>Email ID : </b>
                </label>
                <input class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue" type="text"
                       id="email" name="email" {%
                       if email %} value={{email}} {% endif %} onfocusout="emailValidate()"
                       style="width: 100%; padding-left: 5%; padding-right: 5%" required>
                <br>
                <label for="address" style="padding-left: 5%">
                    <b>Address : </b>
                </label>
                <textarea class="w3-input hover-peacock-blue w3-round-xxlarge w3-border border-peacock-blue"
                          id="address"
                          name="Address" rows="5" style="width: 100%; padding-right: 5%; padding-left: 5%"
                          required></textarea>
                <br><br>
            </div>
        </div>

        <div class="w3-center">
            <input type="submit" value="Add" class="w3-btn w3-round-xxlarge peacock-blue" style="width: 130px">
        </div>
    </form>

    <div id="message-display" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4" style="width: 25%">
            {% if error %}
            <header class="w3-container w3-red w3-center">
                    <span onclick="document.getElementById('message-display').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                <h2>Error</h2>
            </header>
            {% elif success %}
            <header class="w3-container w3-green w3-center">
                    <span onclick="document.getElementById('message-display').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                <h2>Success</h2>
            </header>
            {% endif %}
            <div class="w3-container w3-center">
                <p id="message-content">
                    {% if error %}
                    {{error}}
                    {% elif success %}
                    {{success}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>