<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">
    <script src="{{ url_for(endpoint='static', filename='js/main.js') }}"></script>

    {% block head_extra %}{% endblock %}

    <link rel="icon" href="{{ url_for(endpoint='static', filename='images/bel-icon.png') }}">
    <title>CRM</title>
</head>
<body {% block body_onload %}{% endblock %}>
<div class="w3-container w3-padding">
    <span><img src="{{ url_for(endpoint='static', filename='images/bel.png') }}"></span>
    <span class="w3-display-topmiddle w3-hide-small w3-hide-medium"
          style="margin-top: 4%; font-size: xx-large; font-style: oblique">
        <b>{% block page_title %}{% endblock %}</b></span>
</div>

<div class="w3-bar peacock-blue w3-row">
    {% block nav_bar %}
    <button class="w3-bar-item w3-button w3-col l2" onclick="location.href = '/';"><b>Home</b></button>
    <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/register';">
        <b>Register</b>
    </button>
    <button class="w3-bar-item w3-button w3-right w3-col l2" onclick="location.href = '/logout';"><b>Logout</b>
    </button>
    {% endblock %}
</div>

{% block before_content %}{% endblock %}

<br><br>

<div class="w3-container">
    {% block full_page_content %}
    <div class="w3-row">
        <div class="w3-col l3 w3-hide-small"><p></p></div>
        <div class="w3-col l6">
            {% block page_content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
</div>

<div id="message-display" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4" style="width: 25%">
        <header {% block msg_header_class %} class="w3-container w3-red" {% endblock %}>
                    <span onclick="document.getElementById('message-display').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
            <h2>{% block msg_title %}{% endblock %}</h2>
        </header>
        <div class="w3-container">
            <p>{% block msg_content %}{% endblock %}</p>
        </div>
    </div>
</div>

</body>
</html>