<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">

    <link rel="icon" href="{{ url_for(endpoint='static', filename='images/bel-icon.png') }}">
    <title>CRM</title>
</head>

<body>
<div class="w3-container">

    <div class="w3-container w3-padding" style="font-size: xx-large; font-style: oblique">
        <b>Welcome, {{username}}</b>
        <img src="{{ url_for(endpoint='static', filename='images/bel.png') }}" align="right">
    </div>

    <div class="w3-bar" style="background: #00aeef ">
        <button class="w3-bar-item w3-button">do not click yet</button>
    </div>

    <br><br>

    <div id="tables" align="center">
        {% if role == 'bel_mgr' or role == 'call_center' %}
        <table>
            <tbody>
            <tr>
                <td>Number of machines under warranty</td>
                <td>{{warranty_in}}</td>
            </tr>
            <tr>
                <td>Number of machines under amc</td>
                <td>{{amc_in}}</td>
            </tr>
            <tr>
                <td>Number of machines out of amc or warranty</td>
                <td>{{amc_warranty_out}}</td>
            </tr>
            <tr>
                <td>Total price of material to be replaced</td>
                <td>{{scrap_money}}</td>
            </tr>
            </tbody>
        </table>
        <br><br>
        {% endif %}

        {% if complaints %}
        <table>
            <caption>
                <h3>List of {% if role != 'engineer' %}high priority{% endif %} complaints :</h3>
            </caption>
            <thead>
            <tr>
                <th>Machine</th>
                <th>Customer</th>
                <th>Location</th>
                {% if role != 'engineer' %}
                <th>Engineer</th>
                {% endif %}
                <th>Open Since</th>
            </tr>
            </thead>
            <tbody>
            {% for comp in complaints %}
            <tr>
                {% for data in comp %}
                <td align="center">{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        {% endif %}

        {% if pm %}
        <table>
            <caption><h3>Upcoming Preventive Maintenance</h3></caption>
            <thead>
            <tr>
                <th>Machine Location</th>
                {% if role != 'engineer' %}
                <th>Engineer</th>
                {% endif %}
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for machine in pm %}
            <tr>
                {% for data in machine %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        {% endif %}

        {% if role == 'engineer' or role == 'reg_mgr' %}

        <table>
            <caption><h3>List of Materials at hand</h3></caption>
            <thead>
            <tr>
                <th>Material Description</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% if materials %}
            {% for material in materials %}
            <tr>
                {% for data in material %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <br><br>

        <table>
            <caption><h3>List of Scrap Materials at hand</h3></caption>
            <thead>
            <tr>
                <th>Material Description</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% if scrap %}
            {% for material in scrap %}
            <tr>
                {% for data in material %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <br><br>

        {% endif %}
    </div>

</div>
</body>
</html>