<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">
</head>
<body>

<h1><b>Welcome, {{username}}</b></h1>
<br><br>

{% if role == 'bel_mgr' %}

<table>
    <tbody>
    {% if scrap_money %}
    <tr align="center">
        <td>Total price of material to be replaced</td>
        <td>{{scrap_money}}</td>
    </tr>
    {% endif %}
    </tbody>
</table>
<br><br>

{% if complaints %}
<table>
    <caption>List of high priority complaints :</caption>
    <thead>
    <tr>
        <th>Machine</th>
        <th>Customer</th>
        <th>Location</th>
        <th>Engineer</th>
    </tr>
    </thead>
    <tbody>
    {% for comp in complaints %}
    <tr>
        {% for data in comp %}
        <td align="center">{{data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endif %}

</body>
</html>