<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">
</head>
<body>

<h1><b>Welcome, {{username}}</b></h1>
<br><br>

{% if role == 'bel_mgr' %}
<table>
    <tbody>
    {% if role == 'bel_mgr' %}
    <tr>
        <td>Number of machines under warranty</td>
        <td>{{warranty_in}}</td>
    </tr>
    <tr>
        <td>Number of machines under amc</td>
        <td>{{amc_in}}</td>
    </tr>
    <tr>
        <td>Number of machines out of amc or warranty</td>
        <td>{{amc_warranty_out}}</td>
    </tr>
    <tr>
        <td>Total price of material to be replaced</td>
        <td>{{scrap_money}}</td>
    </tr>
    {% endif %}
    </tbody>
</table>
<br><br>
{% endif %}

{% if complaints %}
<table>
    <caption><h3>List of high priority complaints :</h3></caption>
    <thead>
    <tr>
        <th>Machine</th>
        <th>Customer</th>
        <th>Location</th>
        {% if role != 'engineer' %}
        <th>Engineer</th>
        {% endif %}
        <th>Open Since</th>
    </tr>
    </thead>
    <tbody>
    {% for comp in complaints %}
    <tr>
        {% for data in comp %}
        <td align="center">{{data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
{% endif %}

{% if materials %}
<table>
    <thead>
    <tr>
        <th>Material Description</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    {% for material in materials %}
    <tr>
        {% for data in material %}
        <td>{{data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


</body>
</html>