<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">

    <link rel="icon" href="{{ url_for(endpoint='static', filename='images/bel-icon.png') }}">
    <title>Register</title>
</head>

<body {% if error %} onload="document.getElementById('error-display').style.display = 'block'" {% endif %}>
<div class="w3-container">

    <div class="w3-container w3-padding" style="font-size: xx-large; font-style: oblique">
        <b>Register</b>
        <img src="{{ url_for(endpoint='static', filename='images/bel.png') }}" align="right">
    </div>

    <div class="w3-bar" style="background: #00aeef ">
        <p class="w3-bar-item"></p>
    </div>

    <br><br>

    <div class="w3-center">

        {% if role %}

        <form name="registerUser" method="post" action="/register/submit">

            {% if role == 'engineer' %}
            <b>Name : </b>
            <input type="text" name="name" {% if name %} value={{name}} {% endif %}><br><br>
            <b>Contact Number : </b>
            <input type="number" name="contact" maxlength="10" {% if contact %} value={{contact}} {% endif
                   %}><br><br>
            <b>Email ID : </b>
            <input type="text" name="email" {% if email %} value={{email}} {% endif %}><br><br>
            <b>Region : </b>
            <input type="text" name="region" {% if region %} value={{region}} {% endif %}><br><br>
            <b>Address : </b>
            <input type="text" name="address" {% if address %} value={{address}} {% endif %}><br><br>
            {% endif %}

            {% if role == 'reg_mgr' %}
            <b>Region ID : </b>
            <input type="text" name="id" maxlength="2" {% if id %} value={{id}} {% endif %}><br><br>
            <b>Address : </b>
            <input type="text" name="address" {% if address %} value={{address}} {% endif %}><br><br>
            {% endif %}

            <b>Username : </b>
            <input type="text" name="username" maxlength="10" {% if username %} value={{username}} {% endif
                   %}><br><br>
            <b>Password : </b>
            <input type="password" name="password"><br><br>
            <b>Confirm Password : </b><input type="password" name="confirm password"><br>
            <input name="role" value={{role}} style="visibility: hidden"><br>

            <input type="submit" value="Register" class="w3-btn w3-round-xxlarge" style="background: #00aeef">
        </form>

        {% else %}

        <form name="registerForm" method="get" action="/register">
            <b>Select role of user : </b>
            <select name="role">
                <option value="engineer">Engineer</option>
                <option value="call_center">Call Center Operative</option>
                <option value="bel_mgr">BEL Manager</option>
                <option value="reg_mgr">Regional Center Manager</option>
            </select>
            <br><br>
            <input type="submit" value="Get Registration Form" class="w3-btn w3-round-xxlarge"
                   style="background: #00aeef">
        </form>

        {% endif %}

    </div>

    {% if error %}
    <div id="error-display" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-red w3-center">
                    <span onclick="document.getElementById('error-display').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                <h2>Error</h2>
            </header>
            <div class="w3-container w3-center">
                <p>{{error}}</p>
            </div>
        </div>
    </div>
    {% endif %}

</div>
</body>
</html>